body{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://images.pexels.com/photos/1155477/pexels-photo-1155477.jpeg?auto=compress&cs=tinysrgb&lazy=load');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 

}
*{
    margin: 0;
    padding:0;
}
